@charset "UTF-8";
@import "clean.css"; /*Clean default format*/

/* The colors are based on the color palette #0c5579
** using the generator https://venngage.com/tools/accessible-color-palette-generator#colorGenerator
** based on the WCAG 2.1 AA with a contrast ratio of 4.5:1.
**
** #b0cbdc, #000000
** #89afc7, #000000
** #1a7ca2, #ffffff
** #13688d, #ffffff
** #0c5579, #ffffff
** #ffffff, #000000
*/

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-align: justify;
  width: 80%;
  margin: 0 auto;
}

p {
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: inherit;
  padding: 10px 20px;
}

nav {
  background: #0c5579;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

nav li {
  float: left;
  list-style: none;
}

nav li a {
  color: inherit;
  text-decoration: none;
  padding: 10px 20px;
}

nav li a:hover {
  background: white;
  color: #0c5579;
  font-weight: bold;
}

h1 {
  background: #1a7ca2;
  color: white;
  font-size: xx-large;
  font-weight: bold;
  padding: 20px 10px;
  text-align: center;
}

main {
  display: block;
}

main img {
  max-width: 10%;
  height: auto;
  float: left;
}

form {
  display: grid;
  width: 80%;
  padding: 10px 20px;
  margin: 0 auto;
  grid-template-columns: 1fr 5fr;
  grid-auto-rows: auto;
  gap: 10px;
  background: #b0cbdc;
  color: black;
  font-size: 1.2em;
  line-height: 1.5em;
}

form label {
  grid-column: 1;
  justify-self: end;
}

form input {
  grid-column: 2;
  width: 100%;
  font-size: 1.2em;
  line-height: 1.5em;
  justify-self: start;
}

form textarea {
  grid-column: 2;
  width: 100%;
  font-size: 1.2em;
  line-height: 1.5em;
  height: 12em;
  justify-self: start;
}

.buttons {
  grid-column: 2;
  width: 100%;
  justify-self: start;
}

button {
  font-size: 1.2em;
  line-height: 1.5em;
  width: 6em;
}

article {
  margin: 0 auto;
}

.blog {
  margin 20px auto;
}

article ul {
  background: white;
  color: black;
  font-size: 1.2em;
  line-height: 1.5em;
  list-style-type: circle;
  padding-left: 40px;
}

article footer {
  background: #1a7ca2;
  color: white;
  font-size: 0.8em;
  line-height: 1em;
}
section {
  background: #b0cbdc;
  color: black;
  font-size: 1.2em;
  line-height: 1.5em;
  width: 80%;
  margin: 20px auto;
  border-radius: 12px;
  clear: both;
}

section h2 {
  background: #89afc7;
  color: black;
  font-size: 1.2em;
  line-height: 1.5em;
  font-size:x-large;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  border-radius: 12px 12px 0 0;
}

section h3 {
  background: #13688d;
  color: white;
  font-size: 1.2em;
  line-height: 1.5em;
  font-size:large;
  font-weight: bold;
  padding: 10px 20px;
  text-align: left;
  display: float;
  float: left;
}

.duration {
  background: #b0cbdc;
  color: black;
  font-size: 1em;
  line-height: 1.5em;
  padding: 10px 20px;
  text-align: right;
}

section ul {
  color: black;
  font-size: 1.2em;
  line-height: 1.5em;
  list-style-type: circle;
  padding: 10px 20px;
  padding-left: 40px;
  clear: both;
}

footer {
  background: #0c5579;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  clear: both;
}